doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet' href='/cdn/css/index.css')
  body
    h1 Discord Message Sender
    h2 Select a mode:
    ul
      li
        a(href='/sendMessage') Send a message
      li
        a(href='/replyToMessage') Reply to a message
      li
        a(href='/dmUser') Send a DM
      li
        a(href='/banUser') Ban a user from a server
      li
        a(href='/kickUser') Kick a user from a server
      li
        a(href='/muteUser') Mute a user in a server
  