doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet' href='/cdn/css/index.css')
  body
    h1 Discord Message Sender
    h2 Select a mode:
    ul
      li
        a(href='/sendMessage') Send
      li
        a(href='/replyToMessage') Reply
  