doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet' href='/cdn/css/index.css')
  body
    h1 Send a DM
    form(action='/api/discord/message/dm' method='post')
      label(for="token") Discord Bot Token:
        br
        input#token(type="password", name="token" required='')
      label(for="userID") User  ID:
        br
        input#userID(type='text' name='userID' required='' pattern='[0-9]{18,}')
      label(for="message") Message:
        br
        input#message(type='text' name='message' required='')
      input#submit(type='submit' value='Send Message')